body {
  margin: 0;
  padding: 0;
}

.main-login {
  width: 100%;
  background: linear-gradient(
  -135deg, #c850c0, #4158d0);
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.left-login {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* width: 960px; */
}

.left-login-image {
  width: 350px;
  
  
}

.right-login {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  
}

.card-login {
  width: 290px;
  padding: 50px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  
}

.card-login > h1 {
  font-family: sans-serif;
  font-size: 24px;
  color: #333333;
  font-weight: 800;
  margin-bottom: 30px;
  
 
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.textfield > input {
  font-family: Poppins-Medium;
  font-size: 15px;
  color: #666666;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 20px;
  border: none;
  margin-bottom: 20px;
  outline: none;
  box-sizing: border-box;
  padding: 0 9px;
}

.btn-login {
  background: #57b846;
  width: 100%;
  padding: 16px 0px;
  border: none;
  height: 50px;
  color: #fff;
  border-radius: 25px;
  
}

button:hover {
  background-color: #1e6e409d;
  transform: scale(1.2);
  cursor: pointer;
}

@media (max-width: 750px){
  .main-login {
    display: flex;
    flex-direction: column;
  }

  .main-login .left-login {
    display: none;
  }
}