* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

.container header {
  background-color:  #608fc6;
  color: #ffff;
  padding: 25px;
  border-bottom: 4px solid #3e5f85;
  text-align: center;

}

.container nav {
  border-bottom: 3px solid #ddd;
}
/*Grid de produtos*/
.container nav ul {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  padding: 20px;
}
.container nav li {
  list-style: none;
  display: flex;
  margin-right: 30px;
}
.container nav ul li a {
  text-decoration: none;
  color: #608fc6;
  text-decoration: none;
  text-transform:lowercase;
}

.cimg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

.cimg .card-img {
  width: 284px;
  height: 416px;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cimg .card-img img {
  width: 350px;
  width: 282px;
  height: 275px;
}

.cimg .card-img .informacao {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.cimg .card-img .informacao .title {
  margin: 20px 0;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.cimg .card-img .informacao .valor {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cimg .card-img .informacao .valor .bold-blue {
  font-weight: bold;
  color: #2DBDAF;
  margin-bottom: 10px;
}
.cimg .card-img .informacao .valor .bold-blue .sem-bold {
  font-weight: normal;
  color: #000;
}
.cimg .card-img .informacao .valor .negrito {
  font-weight: bold;
  color: #000;
  font-size: 14px;
}