@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Montserrat&family=Poppins:wght@300;400;500;600&family=Righteous&family=Sarala:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC";
}
header {
  font-size: 100%;
  background-color: #cccc; 
  display: flex;
  width: 100%;
}
header .img {
  position: relative;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .img .logo {
  bottom: -35px;
  width: 82px;
  position: absolute;
}
header nav {
  width: 80%;
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav > .banner {
  height: 40px;
  width: 100%;
  background-color: rgb(238, 179, 69);
  border-radius: 7px;
}

header nav .cabecalho-menu {
  width: 80%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

header nav .cabecalho-menu li {
  font-family: 'Flamenco', cursive;
  font-weight: bold;
  font-size: 22px;
  color: #502314;
  text-align: center;
}


@media (max-width: 1000px) {

  header .img {
    display: none;
  }
  header nav > .banner {
    display: none;
  }
  header > nav > .cabecalho-menu {
    display: none;
  }
}
 